.container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 20px;
    padding: 20px;
}

h2 {
    text-align: center;
}

.card {
    position: relative;
    width: 250px;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 8px;
    overflow: hidden;
    background-color: #fff;
    transition: box-shadow 0.3s ease;
}

.card:hover {
    transform: scale(1.05);
}

.image {
    width: 100%;
    height: auto;
    border-radius: 8px;
}

.info {
    padding: 16px;
}

.info h3 {
    font-size: 18px;
    margin-bottom: 8px;
}

.info p {
    font-size: 14px;
    color: #777;
    margin-bottom: 8px;
}

.price {
    font-size: 1.2rem;
    color: #333;
    font-weight: bold;
}

.overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.6);
    opacity: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: opacity 0.3s ease;
}

.card:hover .overlay {
    opacity: 1;
}

.seeDetailsButton {
    padding: 10px 20px;
    color: #d4a137;
    background-color: #fff;
    border: none;
    border-radius: 5px;
    font-size: 1rem;
    cursor: pointer;
    opacity: 0;
    transition: opacity 0.3s ease;
}

.card:hover .seeDetailsButton {
    opacity: 1;
}

.discount {
    color: red;
}

.orgprice {
    text-decoration: line-through;
    margin-left: 10px;
}

.button {
    display: block;
    text-align: center;
    margin: 20px auto;
    padding: 10px 20px;
    border: 1px solid #000;
    background-color: #fff;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.button:hover {
    background-color: #000;
    color: #fff;
}

.badges {
    position: absolute;
    top: 10px;
    right: 10px;
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.newBadge, .discountBadge {
    background-color: #2EC1AC;
    color: white;
    padding: 5px 10px;
    border-radius: 50%;
    width: 30px;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 12px;
    font-weight: bold;
}

.discountBadge {
    background-color: #E97171;
}

